<p>Olá {{ user.name }},

<p>Sua inscrição foi cancelada para o meetup.</p>

<h3>{{ meetup.title }}</h3>
<p>{{ meetup.description }}</p>
<p><strong>Local:</strong> {{ meetup.where }}</p>
<p><strong>Data/Horário:</strong> {{ meetup.when }}</p>
